table {
    border: 6px solid blue;
    width: 40%;
    margin: 0;
    border-collapse: collapse;
}
img {
    width:95%;
    float: left;
    margin: 1.66%;
}

td {
    border: 6px solid blue;
    padding: 0;
    margin: 0;
}


