h1 {
    color: blue;
}

table {
    border-collapse: collapse;
}

td {
    border: 3px solid blue;
    width: 90px;
    height: 100px;
}

a {
    /*text-decoration: underline;*/
    font-size: x-large;
    font-weight: bold;
}

img {
    width: 100px;
    height: 100px;
}


