h1 {
    font-size:2em;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#redstuff {
    border: 2px solid red;
    margin: 0px;
    padding: 0px;
    padding-right: 0;
    width: 200px;
}

ol {

    margin: 0px;

}