table.coll {
    border-collapse: collapse;
    height: 100px;
}

table.sep {
    width: 200px;
    height: 100px;
}

table.sep td {
    vertical-align: top;
}

table {
    border: 3px solid red;
}

td {
    border: 3px solid blue;
}

