.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1340px;
    grid-template-areas:
            "jokes      sites"
            "options options";
    background-color: #fff;
    color: #d0d0d0;
}

.jokes {

}

.sites {

}

.options {

}