<table id="table">
    <tr>
        <td>Name</td>
        <td>Drug</td>
    </tr>
    {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.drug}}</td>
        </tr>
    {{/each}}
</table>